### imports

In [1]:
from sklearn import linear_model, metrics
from sklearn.model_selection import train_test_split

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### read in data

In [2]:
df = pd.read_csv('kc_house_data_train.csv', index_col=0)

### Fix 33 bdrms typo

In [3]:
df['bedrooms'] = df.bedrooms.replace([33],3)

### Convert date to datetime

In [ ]:
df['date'] = pd.to_datetime(df['date'])

### view dummies rmse

In [ ]:
x = df.groupby('view').price.mean().index
y = df.groupby('view').price.mean().values
sns.regplot(x, y)

"""viewed once and viewed twice have similar mean"""

In [ ]:
df_view = df.copy()
df_view['view'] = np.where(df['view'] == 2, 1, df['view'])
df_view = pd.get_dummies(df_view, columns=['view'], drop_first=True)
df_view.rename(columns={'view_1':'view_1_or_2'}, inplace=True)

lm1 = linear_model.LinearRegression().fit(
    pd.DataFrame(df.view), df.price) # <---linear regression model
rmse1 = np.sqrt(metrics.mean_squared_error(
    df.price, lm1.predict(pd.DataFrame(df.view)))) # <---training RMSE

lm2 = linear_model.LinearRegression().fit(
    pd.DataFrame(df_view[['view_1_or_2', 'view_3', 'view_4']]), df.price) # <---linear regression model
rmse2 = np.sqrt(metrics.mean_squared_error(
    df.price, lm2.predict(pd.DataFrame(df_view[['view_1_or_2', 'view_3', 'view_4']])))) # <---training RMSE

f"rmse without dummies is {rmse1} and with dummies is {rmse2}"

### make view dummies

In [ ]:
df['view'] = np.where(df['view'] == 2, 1, df['view'])
df = pd.get_dummies(df, columns=['view'], drop_first=True)
df.rename(columns={'view_1':'view_1_or_2'}, inplace=True)

### rmse for zipcode dummies

In [ ]:
df_zips = pd.get_dummies(df, columns=['zipcode'], drop_first=True)

lm1 = linear_model.LinearRegression().fit(
    pd.DataFrame(df.zipcode), df.price) # <---linear regression model
rmse1 = np.sqrt(metrics.mean_squared_error(
    df.price, lm1.predict(pd.DataFrame(df.zipcode)))) # <---training RMSE

lm2 = linear_model.LinearRegression().fit(
    pd.DataFrame(df_zips[['zipcode_98002', 'zipcode_98003',
       'zipcode_98004', 'zipcode_98005', 'zipcode_98006', 'zipcode_98007',
       'zipcode_98008', 'zipcode_98010', 'zipcode_98011', 'zipcode_98014',
       'zipcode_98019', 'zipcode_98022', 'zipcode_98023', 'zipcode_98024',
       'zipcode_98027', 'zipcode_98028', 'zipcode_98029', 'zipcode_98030',
       'zipcode_98031', 'zipcode_98032', 'zipcode_98033', 'zipcode_98034',
       'zipcode_98038', 'zipcode_98039', 'zipcode_98040', 'zipcode_98042',
       'zipcode_98045', 'zipcode_98052', 'zipcode_98053', 'zipcode_98055',
       'zipcode_98056', 'zipcode_98058', 'zipcode_98059', 'zipcode_98065',
       'zipcode_98070', 'zipcode_98072', 'zipcode_98074', 'zipcode_98075',
       'zipcode_98077', 'zipcode_98092', 'zipcode_98102', 'zipcode_98103',
       'zipcode_98105', 'zipcode_98106', 'zipcode_98107', 'zipcode_98108',
       'zipcode_98109', 'zipcode_98112', 'zipcode_98115', 'zipcode_98116',
       'zipcode_98117', 'zipcode_98118', 'zipcode_98119', 'zipcode_98122',
       'zipcode_98125', 'zipcode_98126', 'zipcode_98133', 'zipcode_98136',
       'zipcode_98144', 'zipcode_98146', 'zipcode_98148', 'zipcode_98155',
       'zipcode_98166', 'zipcode_98168', 'zipcode_98177', 'zipcode_98178',
       'zipcode_98188', 'zipcode_98198', 'zipcode_98199']]), df.price) # <---linear regression model
rmse2 = np.sqrt(metrics.mean_squared_error(
    df.price, lm2.predict(pd.DataFrame(df_zips[['zipcode_98002', 'zipcode_98003',
       'zipcode_98004', 'zipcode_98005', 'zipcode_98006', 'zipcode_98007',
       'zipcode_98008', 'zipcode_98010', 'zipcode_98011', 'zipcode_98014',
       'zipcode_98019', 'zipcode_98022', 'zipcode_98023', 'zipcode_98024',
       'zipcode_98027', 'zipcode_98028', 'zipcode_98029', 'zipcode_98030',
       'zipcode_98031', 'zipcode_98032', 'zipcode_98033', 'zipcode_98034',
       'zipcode_98038', 'zipcode_98039', 'zipcode_98040', 'zipcode_98042',
       'zipcode_98045', 'zipcode_98052', 'zipcode_98053', 'zipcode_98055',
       'zipcode_98056', 'zipcode_98058', 'zipcode_98059', 'zipcode_98065',
       'zipcode_98070', 'zipcode_98072', 'zipcode_98074', 'zipcode_98075',
       'zipcode_98077', 'zipcode_98092', 'zipcode_98102', 'zipcode_98103',
       'zipcode_98105', 'zipcode_98106', 'zipcode_98107', 'zipcode_98108',
       'zipcode_98109', 'zipcode_98112', 'zipcode_98115', 'zipcode_98116',
       'zipcode_98117', 'zipcode_98118', 'zipcode_98119', 'zipcode_98122',
       'zipcode_98125', 'zipcode_98126', 'zipcode_98133', 'zipcode_98136',
       'zipcode_98144', 'zipcode_98146', 'zipcode_98148', 'zipcode_98155',
       'zipcode_98166', 'zipcode_98168', 'zipcode_98177', 'zipcode_98178',
       'zipcode_98188', 'zipcode_98198', 'zipcode_98199']])))) # <---training RMSE

f"rmse without dummies is {rmse1} and with dummies is {rmse2}"

### made zipcode dummies

In [ ]:
df = pd.get_dummies(df, columns=['zipcode'], drop_first=True)

### Cap all sqft features to remove outliers

In [ ]:
df['sqft_above'] = np.where(df['sqft_above'] > 7000, 7000, df['sqft_above'])
df['sqft_basement'] = np.where(df['sqft_basement'] > 3000, 3000, df['sqft_basement'])
df['sqft_living'] = np.where(df['sqft_living'] > 8000, 8000, df['sqft_living'])
df['sqft_living15'] = np.where(df['sqft_living15'] > 6000, 6000, df['sqft_living15'])
df['sqft_lot'] = np.where(df['sqft_lot'] > 100000, 100000, df['sqft_lot'])
df['sqft_lot15'] = np.where(df['sqft_lot15'] > 100000, 100000, df['sqft_lot15'])

# sns.boxplot(df.sqft_above)
# sns.boxplot(df.sqft_basement)
# sns.boxplot(df.sqft_living)
# sns.boxplot(df.sqft_living15)
# sns.boxplot(df.sqft_lot)
# sns.boxplot(df.sqft_lot15)

### mean bedroom price

In [ ]:
x = df.groupby('bedrooms').price.mean().index
y = df.groupby('bedrooms').price.mean().values`
sns.regplot(2**(x-5.5), y)

### mean grade price

In [ ]:
x = df.groupby('grade').price.mean().index
y = df.groupby('grade').price.mean().values
import numpy as np
sns.regplot(x**2, np.log(y))

### median housing price per zipcode

In [ ]:
df2 = df.groupby(['zipcode']).price.mean().sort_values(ascending=False)
plt.figure(figsize=(16,6))
plt.ylabel('price')
df2.plot(kind='bar');

### finalize

In [4]:
features = ['price', 'date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
            'waterfront', 'view', 'condition', 'grade', 'sqft_above',
            'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat',
            'long', 'sqft_living15', 'sqft_lot15']

df = df[features]

In [5]:
df.head()

,price,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,365000.0,20141006T000000,4,2.25,2070,8893,2.0,0,0,4,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
1,865000.0,20140821T000000,5,3.00,2900,6730,1.0,0,0,5,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283
2,1038000.0,20140815T000000,4,2.50,3770,10893,2.0,0,2,3,11,3770,0,1997,0,98006,47.5646,-122.129,3710,9685
3,1490000.0,20150331T000000,3,3.50,4560,14608,2.0,0,2,3,12,4560,0,1990,0,98034,47.6995,-122.228,4050,14226
4,711000.0,20140714T000000,3,2.50,2550,5376,2.0,0,0,3,9,2550,0,2004,0,98052,47.6647,-122.083,2250,4050

In [6]:
df.to_csv('clean_data_v3.csv')

In [ ]:
# median housing price per zipcode
df2 = df.groupby(['zipcode']).price.median().sort_values(ascending=False)
plt.figure(figsize=(16,6))
plt.ylabel('price')
df2.plot(kind='bar');